@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bg-card-weather {
  background: linear-gradient(0deg, rgba(0, 115, 255, 0.98), rgb(97, 177, 252));
}

.bg-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.3);
}

.temp-text {
  color: #fff;
  /* teks shadow */
  text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
}
